WPFLayer/Connected Services/ServicesImplementation/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="GameConfiguration">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="Board" nillable="true" type="q1:Boards" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GamePlayerQueue" nillable="true" type="q2:QueueOfGamesPlayersWUeOuCFA" />
      <xs:element minOccurs="0" name="TurnAmount" type="xs:int" />
      <xs:element minOccurs="0" name="TurnSeconds" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="UsersRoom" nillable="true" type="q3:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameConfiguration" nillable="true" type="tns:GameConfiguration" />
</xs:schema>