WPFLayer/Connected Services/ServicesImplementation/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="credential" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="idUserType" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="playerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerLevel" type="xs:int" />
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerRank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Players" nillable="true" type="tns:Players" />
  <xs:complexType name="ArrayOfCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" nillable="true" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategories" nillable="true" type="tns:ArrayOfCategories" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReports" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategory" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="ArrayOfReports">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reports" nillable="true" type="tns:Reports" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReports" nillable="true" type="tns:ArrayOfReports" />
  <xs:complexType name="Reports">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Categories" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="chatLog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategory" type="xs:int" />
      <xs:element minOccurs="0" name="idReport" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reports" nillable="true" type="tns:Reports" />
  <xs:complexType name="ArrayOfPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Players" nillable="true" type="tns:Players" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayers" nillable="true" type="tns:ArrayOfPlayers" />
  <xs:complexType name="ArrayOfGamesPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GamesPlayers" nillable="true" type="tns:GamesPlayers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGamesPlayers" nillable="true" type="tns:ArrayOfGamesPlayers" />
  <xs:complexType name="GamesPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Games" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Players" />
      <xs:element minOccurs="0" name="gameRank" type="xs:int" />
      <xs:element minOccurs="0" name="gameScore" type="xs:int" />
      <xs:element minOccurs="0" name="hasTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="idGame" type="xs:int" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GamesPlayers" nillable="true" type="tns:GamesPlayers" />
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesPlayers" nillable="true" type="tns:ArrayOfGamesPlayers" />
      <xs:element minOccurs="0" name="gameDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameTime" type="ser:duration" />
      <xs:element minOccurs="0" name="idGame" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Games" nillable="true" type="tns:Games" />
  <xs:complexType name="WordsBoard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Board" nillable="true" type="tns:Boards" />
      <xs:element minOccurs="0" name="Word" nillable="true" type="tns:Word" />
      <xs:element minOccurs="0" name="idBoard" type="xs:int" />
      <xs:element minOccurs="0" name="idWord" type="xs:int" />
      <xs:element minOccurs="0" name="xEnd" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="xStart" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="yEnd" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="yStart" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordsBoard" nillable="true" type="tns:WordsBoard" />
  <xs:complexType name="Boards">
    <xs:sequence>
      <xs:element minOccurs="0" name="WordsBoards" nillable="true" type="tns:ArrayOfWordsBoard" />
      <xs:element minOccurs="0" name="boardMatrix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idBoard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boards" nillable="true" type="tns:Boards" />
  <xs:complexType name="ArrayOfWordsBoard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordsBoard" nillable="true" type="tns:WordsBoard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordsBoard" nillable="true" type="tns:ArrayOfWordsBoard" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="WordsBoards" nillable="true" type="tns:ArrayOfWordsBoard" />
      <xs:element minOccurs="0" name="clue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSolved" type="xs:boolean" />
      <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
</xs:schema>