WPFLayer/Connected Services/ServicesImplementation/ServicesImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicesImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUsersManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersManager_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_FindUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_FindUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_FindUserByUserNameAndPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_FindUserByUserNameAndPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_Response_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="IUsersManager_Response_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersManager">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/AddUser" message="tns:IUsersManager_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/AddUserResponse" message="tns:IUsersManager_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/FindUserByEmail" message="tns:IUsersManager_FindUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/FindUserByEmailResponse" message="tns:IUsersManager_FindUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByUserNameAndPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/FindUserByUserNameAndPassword" message="tns:IUsersManager_FindUserByUserNameAndPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/FindUserByUserNameAndPasswordResponse" message="tns:IUsersManager_FindUserByUserNameAndPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Response">
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManager/Response" message="tns:IUsersManager_Response_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManager/ResponseResponse" message="tns:IUsersManager_Response_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUsersManager" type="tns:IUsersManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IUsersManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByEmail">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/FindUserByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByUserNameAndPassword">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/FindUserByUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Response">
      <soap12:operation soapAction="http://tempuri.org/IUsersManager/Response" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicesImplementation">
    <wsdl:port name="NetTcpBinding_IUsersManager" binding="tns:NetTcpBinding_IUsersManager">
      <soap12:address location="net.tcp://localhost:8090/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JAVI\THE CHAVI’S</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>